<h1>Junior developer</h1>
<p>
  Автор: Николай
  <dr>
    Тестовая строничка 
  </br>
  Вы можете найти меня на GitHub:
    <a href="https://github.com/keepithttps"target="_blank">Nikolay</a>

Find me in app/views/pages/about.html.erb
</p>
